html,
body {
  min-width: 100%;
  min-height: 100%;
}

.container-fluid {
  min-width: 100%;
  min-height: 100%;
}
.social-media-imgs {
  max-width: 22px;
  height: 20px;
}

.login-form {
  width: 40%;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.hotel-big-img {
  max-height: 500px;
  max-width: 500px;
}
