.Content-Div {
  margin-top: 2%;
  margin-left: 4%;
  margin-bottom: 2%;
}

.hotel-big-img {
  margin-right: 4%;
  width: 100vw;
  height: 100vh;
  margin-top: 1rem;
}

.booking-form {
  margin-right: 4%;
  margin-bottom: 1%;
}

.hotel-description {
  margin-right: 4%;
  margin-top: 1%;
}

.hotel-description p,
.hotel-description ul {
  font-weight: 500;
}
